/* body {
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand:hover {
  color: #f8f9fa !important;
}

.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #ffc107 !important;
  text-decoration: underline;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
} */
